services:
  tire-api:
    build: .
    container_name: tire-api
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_URI: ${MONGO_URI}
      JWT_SECRET: ${JWT_SECRET}
