body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0 10%;
  padding: 0;
  text-align: center;
  position: relative;
}

h1 {
  position: relative;
  margin-top: 5%;
  padding: 20px;
  border-radius: 12px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 2rem;
  color: #333;
}

th {
  padding: 12px;
  background-color: #f8f9fa;
  border-bottom: 2px solid #ddd;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #facaca;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

.deleteButton {
  background-color: red;
}

#logoff {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

#logoff:hover {
  background-color: #c82333;
  transform: scale(1.1);
}

#greeting {
  float: left;
  font-size: 32px;
  color: #333;
  margin: 20px 20px;
  font-weight: bold;
  text-align: center;
}

/* Still need to work on getting the login section and register section looking nice */
#email,
#name,
#email1,
#password1,
#password2 {
  margin: 6px 0;
}
